<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.savor.operation">

    <!-- 存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!-- 普通 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <!-- Permission for Unit Test -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 友盟分享 -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- 联系人 -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!-- 百度定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 百度定位权限 -->
    <application
        android:name=".SavorApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MaintenanceRecordActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AbnormalityReportActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AbnormalityInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="GDeWnZwX2Hfyn9j5zrt2ckBYZMbEULEs" />
        <meta-data
            android:name="app_debug"
            android:value="0" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59acb7f0f29d98425d000cfa" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="e903fceae381b42402bbcb971a6b8442" />

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HotelPositionInfoAcitivty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HotelMacInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SavorMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PublishTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TaskActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.CityListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MissionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AppointMissionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExeMissionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PubMissionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SystemStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BindBoxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TaskDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExeTaskDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SeekTaskDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AppointActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InspectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.OutSourceMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SingleHotelMacInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SingleHotelPositionInfoAcitivty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchHotelActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".activity.PhotoShowActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/BlackTheme" />
        <activity
            android:name=".activity.BoxDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.LoadingListActivity"></activity>
    </application>

</manifest>